<div class="container-form">
  <form class="bgd-dark">
    <h1 class="form-title">Вход</h1>
    <div class="container-input-group">
      {{#each InputGroupList}}
        {{{this}}}
      {{/each}}
      <div class="btn-group">
        <button type="submit" class="btn">Войти</button>
        <span class="btn-link">Нет аккаунта?</span>
      </div>
    </div>
  </form>
</div>