<section class="chat-list bgd-dark">
  <header class="chat-header">
    <h1>Чат с Иваном</h1>
    <span class="close-chat">Закрыть</span>
  </header>
  <div class="message message-other">
    <p>
      Привет! Смотри, тут всплыл интересный кусок лунной космической истории —
      НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для
      полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500
      EL — и к слову говоря, все тушки этих камер все еще находятся на
      поверхности Луны, так как астронавты с собой забрали только кассеты с
      пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло
      не так и на ракету они так никогда и не попали. Всего их было произведено
      25 штук, одну из них недавно продали на аукционе за 45000 евро.
    </p>
    <span class="message-time">11:22</span>
  </div>
  <div class="message message-user">
    <p>
      А вот знаешь, что Сторонники теории «лунного заговора» утверждают, в
      частности, что на фотографиях и в кинофильмах о посадках на Луну
      присутствуют противоречия, а некоторые из них — идут дальше и даже
      заявляют, что осуществление таких полётов в те годы было «технически
      невозможным». Сторонники теории утверждают, что США пошли на фальсификацию
      по соображениям поднятия своего престижа из-за отставания от СССР в
      космических достижениях в начале 1960-х годов, а также для отвлечения
      граждан Америки от таких военных преступлений США во время войны во
      Вьетнаме.
    </p>
    <span class="message-time">11:23</span>
  </div>
  <input type="text" class="input-field input-large bgd-light">
  <button  class="btn">Зарегистрироваться</button>
  <button  class="btn-2">Изменить данные</button>
  <div class="chat-avatar">
    <div class="chat-avatar-img"></div>
  </div>
</section>