<div class="container-links">
    <a href="#"  class="temp-links" data-template="main">Chat Page</a>
    <a href="#"  class="temp-links" data-template="login">Login Page</a>
    <a href="#"  class="temp-links" data-template="signup">Signup Page</a>
    <a href="#"  class="temp-links" data-template="profile">Profile</a>
    <a href="#"  class="temp-links" data-template="edit">Edit Profile</a>
    <a href="#"  class="temp-links" data-template="password">Edit Password</a>
    <a href="#"  class="temp-links" data-template="page404">404 Page</a>
    <a href="#"  class="temp-links" data-template="page500">500 Page</a> 
</div>