<form>
  <div class="container-input-group">
    <div class="input-group">
      <label for="oldPassword">Старый пароль</label>
      <input
        type="password"
        id="oldPassword"
        name="oldPassword"
        class="input-small bgd-dark"
      />
    </div>
    <div class="input-group">
      <label for="newPassword">Новый пароль</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        class="input-small bgd-dark"
      />
    </div>
    <div class="input-group">
      <label for="newPassword_check">Повторите пароль</label>
      <input
        type="password"
        id="newPassword_check"
        name="newPassword_check"
        class="input-small bgd-dark"
      />
    </div>
  </div>
  <div class="btn-group">
    <button type="submit" class="btn-2">Сохранить</button>
  </div>
</form>