<div class="side-panel">
  <div class="side-panel-header">
    <img src="/icons/arrow_back.svg" alt="back">
    <img src="/icons/Log out.svg" alt="log">
  </div>  
  {{> profilePhoto}}
  {{> profileInfo }}
</div>