<div class="chat-list bgd-light">
  <div class="chat-item">
    <div class="chat-avatar">
      <div class="chat-avatar-img"></div>
    </div>
    <div class="chat-info">
      <div class="chat-header">
        <div>
          <span class="chat-name">Иван Иванов</span>
          <div class="chat-last-message">Привет! Как дела?</div>
        </div>
        <span class="chat-time">11:45</span>
      </div>
    </div>
    <div class="chat-unread">
      <span class="unread-count">2</span>
    </div>
  </div>

  <div class="chat-item bgd-light">
    <div class="chat-avatar">
      <div class="chat-avatar-img"></div>
    </div>
    <div class="chat-info">
      <div class="chat-header">
        <div>
          <span class="chat-name">Алексей Смирнов</span>
          <div class="chat-last-message">Не забудь про встречу!</div>
        </div>
        
        <span class="chat-time">10:30</span>
      </div>
      
    </div>
    <div class="chat-unread">
      <span class="unread-count">5</span>
    </div>
  </div>
  <div class="chat-item bgd-light">
    <div class="chat-avatar">
      <div class="chat-avatar-img"></div>
    </div>
    <div class="chat-info">
      <div class="chat-header">
        <div>
          <span class="chat-name">Алексей Смирнов</span>
          <div class="chat-last-message">Не забудь про встречу!</div>
        </div>
        
        <span class="chat-time">10:30</span>
      </div>
      
    </div>
    
  </div>
  <div class="chat-item bgd-light">
    <div class="chat-avatar">
      <div class="chat-avatar-img"></div>
    </div>
    <div class="chat-info">
      <div class="chat-header">
        <div>
          <span class="chat-name">Алексей Смирнов</span>
          <div class="chat-last-message">Не забудь про встречу!</div>
        </div>
        
        <span class="chat-time">10:30</span>
      </div>
      
    </div>
    <div class="chat-unread">
      <span class="unread-count">5</span>
    </div>
  </div>
</div>