<form class="edit-profile">
  <div class="container-input-group">
    <div class="input-group">
      <label for="email">Почта</label>
      <input
        type="text"
        id="email"
        name="email"
        class="input-small bgd-dark"
        value="pochta@mail.com"
      />
    </div>
    <div class="input-group">
      <label for="login">Логин</label>
      <input
        type="text"
        id="login"
        name="login"
        class="input-small bgd-dark"
        value="login"
      />
    </div>
    <div class="input-group">
      <label for="first_name">Имя</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        class="input-small bgd-dark"
        value="Иван"
      />
    </div>
    <div class="input-group">
      <label for="second_name">Фамилия</label>
      <input
        type="text"
        id="second_name"
        name="second_name"
        class="input-small bgd-dark"
        value="Иванов"
      />
    </div>
    <div class="input-group">
      <label for="phone">Телефон</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        class="input-small bgd-dark"
        value="+7 (909) 967 30 30"
      />
    </div>
    <div class="btn-group">
      <button type="submit" class="btn-2">Сохранить</button>
    </div>
  </div>
</form>
